.car {
  position: relative;
  display: flex;
  align-items: flex-end;
  background: url("../img/фон_3д_маш.jpg");
  background-position: center;
  background-size: cover;
  height: 900px;

  &-inner {
    position: relative;
    height: 800px;
    width: auto;
    perspective: 50px;
    // background: url("../img/car-top_0.png");
    background-position: center bottom;
    background-size: cover;
    &__wrapp {
      // background: url("../img/car-bo_0.png");
      // background-position: center bottom;
      // background-size: cover;
      // height: 100%;
      // width: auto;
    }
  }
  &-block {
    display: none;
    &--active {
      display: block;
    }
  }
  &-text {
    &__card {
      height: 100%;
      width: 100%;
      text-align: center;
      & span {
        font-size: 14px;
        max-width: 90%;
        color: #fff;
        opacity: 1;
      }
    }
    &__header {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 25%;
      width: 100%;
      color: #fff;
      border: 1px solid #243afb;
      background-color: rgba(255, 255, 255, 0.3);

      &_1 {
        text-transform: uppercase;
        border-radius: 70% 0 0 0;
        clip-path: polygon(0 25%, 100% 10%, 100% 100%, 0% 86%);
        transform: rotate(10deg) translate(3px, 6px);
        & span {
          transform: rotate(0deg);
        }
      }
      &_2 {
        text-transform: uppercase;
        clip-path: polygon(3% 11%, 99% 15%, 100% 100%, 0% 100%);
        transform: rotate(3deg) translate(1px, 24px);
        width: 101%;
        & span {
          transform: rotate(1deg);
        }
      }

      &_3 {
        text-transform: uppercase;
        clip-path: polygon(0 11%, 100% 11%, 100% 97%, 0% 100%);
        transform: rotate(0deg) translate(1px, 30px);
        & span {
          transform: rotate(0deg);
        }
      }

      &_4 {
        text-transform: uppercase;
        clip-path: polygon(1% 19%, 98% 9%, 100% 94%, 0% 100%);
        transform: rotate(-3deg) translate(0px, 22px);
        & span {
          transform: rotate(-1deg);
        }
      }

      &_5 {
        text-transform: uppercase;
        border-radius: 0 70% 0 0;
        clip-path: polygon(1% 10%, 100% 21%, 100% 89%, 0% 96%);
        transform: rotate(-11deg) translate(-2px, 2px);
        & span {
          transform: rotate(0deg);
        }
      }
    }
    &__content {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 75%;
      width: 100%;

      border: 1px solid #243afb;
      background-color: rgba(255, 255, 255, 0.3);

      &_1 {
        clip-path: polygon(0 0, 100% 19%, 100% 99%, 0% 79%);
        transform: translate(0px, -11px);
        & span {
          transform: rotate(9deg) translate(0px, 0px);
        }
      }

      &_2 {
        clip-path: polygon(0 14%, 100% 21%, 100% 100%, 0% 95%);
        transform: translate(0px, -4px);
        & span {
          transform: rotate(3deg) translate(0px, 11px);
        }
      }

      &_3 {
        clip-path: polygon(0 17%, 100% 17%, 100% 97%, 0% 97%);
        transform: translate(1px, 2px);
        & span {
          transform: rotate(0deg) translate(0px, 11px);
        }
      }

      &_4 {
        clip-path: polygon(0 20%, 100% 10%, 100% 90%, 0% 100%);
        transform: translate(2px, -3px);
        & span {
          transform: rotate(-3deg) translate(0px, 8px);
        }
      }

      &_5 {
        clip-path: polygon(0 22%, 100% -1%, 116% 74%, 0% 100%);
        transform: translate(2px, -18px);
        & span {
          transform: rotate(-9deg) translate(0px, 0px);
        }
      }
    }
  }
  &-text {
    display: none;
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: 40px;
    left: 0;
    width: 96%;
    padding-left: 5%;

    &__border {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 266px;
      height: 120px;
      background: url("../img/car_border.svg");
      background-position: center;
      background-size: cover;
      &--text {
        position: absolute;

        top: 0;
        left: 0%;
        width: 100%;
        height: 100%;
        font-size: 22px;
        line-height: 30px;
        text-align: center;
        padding: 25px 0;
      }
    }
    &__title {
      max-width: 300px;
      font-size: 26px;
    }
    &__inner {
      max-width: 300px;
      &::after {
        content: "";
        position: absolute;
        left: 0%;
        top: 0;
        bottom: 0;
        width: 2px;
        height: 100%;
        background: linear-gradient(90.47deg, #0545c1 5.05%, #b9d1ff 120.19%);
        box-shadow: 0px 0px 16px #0f26f5;
      }
    }
    &__subtitle {
      font-size: 20px;
      padding-top: 20px;
    }
  }
  &-fon__bottom {
    position: relative;
    left: -4%;
    width: 1260px;
    height: 800px;
    // height: 100%;
  }
  &-fon__car {
    position: absolute;
    top: 0;
    bottom: 150px;
    left: 0;
    right: 0;
  }
  // perspective: 900px;
  &-3d {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    background-position: center;
    background-size: cover;

    // &__top {
    //   position: absolute;
    //   border: 1px solid red;
    //   left: 0;
    //   right: 0;
    //   margin-top: -50px;

    // transform: rotateX(90deg) translateZ(450px);
    // }
    &__front {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 174px;
      height: 190px;
      display: flex;
      justify-content: center;

      // border: 1px solid red;

      // transform: rotateY(-90deg) translateZ(150px);
    }
  }
  &__card {
    display: flex;
  }
  &__card--front {
    display: flex;
    width: 63%;
    // border: 1px solid blue;
    padding: 0;
  }
  &-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    // border: 1px solid #fff;
    width: 20%;
    flex-basis: 20%;
    opacity: 0.5;
    // &:hover {
    //   opacity: 1;
    //   background-color: rgba($color: #fff, $alpha: 0.1);
    // }
  }
  &__wrapp {
  }
}
.car-paket {
  position: absolute;
  left: 0%;
  top: 0%;
  bottom: 0;
  right: 0;
  opacity: 0.5;
}

.car-fon--car_1 {
  display: none;
}
.car-fon--car_2 {
  display: none;
}
.car-fon--car_3 {
  display: none;
}
.car-fon--car_4 {
  display: none;
}
.car-fon--car_5 {
  display: none;
}
.car-fon--active {
  display: block;
}
.car-text__content--active {
  background-color: rgba(255, 255, 255, 0);
  opacity: 1;
}
@media (min-width: 480px) {
}
@media (min-width: 768px) {
}
@media (min-width: 992px) {
}
@media (min-width: 1200px) {
}
@media (min-width: 1686px) {
}

@media (max-width: 1199px) {
}
@media (max-width: 991px) {
}
@media (max-width: 767px) {
}
@media (max-width: 479px) {
}
