.guarantee {
  position: relative;
  background: url("../img/фон_гарантия.jpg");
  background-size: cover;
  padding: 120px 0 120px 0;
  &-wrapp {
    display: flex;
  }
  &-header {
    padding-bottom: 30px;
    &__subtitle {
      font-size: 20px;
      line-height: 30px;
      letter-spacing: 0.05em;
      &--big {
        font-size: 28px;
        line-height: 42px;
        letter-spacing: 0.05em;
      }
    }
    &__wrapp {
      position: relative;
      padding-left: 5%;

      &::after {
        content: "";
        position: absolute;
        left: 0%;
        top: 0;
        bottom: 0;
        width: 2px;
        height: 100%;
        background: linear-gradient(90.47deg, #0545c1 5.05%, #b9d1ff 120.19%);
        box-shadow: 0px 0px 16px #0f26f5;
      }
    }
  }
  &__titlt {
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    padding-bottom: 20px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
  }
  &-text {
    flex-basis: 60%;

    &__border {
      background: url("../img/border-low.svg");
      background-position: center;
      background-size: cover;
      font-size: 20px;
      line-height: 30px;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      padding: 20px 10px;
      text-align: center;
      margin-right: 12%;
      margin-bottom: 35px;
    }
    & p {
      padding-top: 30px;
      padding-bottom: 40px;
    }
    & span {
      font-size: 18px;
      letter-spacing: 0.02em;
      line-height: 24px;
    }
  }
  &-img {
    flex-basis: 40%;
    position: relative;
    &::before {
      position: absolute;
      content: "";
      right: 0;
      left: 0%;
      top: 10%;
      bottom: 0;
      opacity: 1;
      // z-index: -1;
      max-height: 80%;
      width: 52%;
      background: url("../img/сертификат1.png");
      background-repeat: no-repeat;
      background-position: bottom, left;
      background-size: cover;
    }
    &__inner {
      position: relative;
      padding-left: 30%;
    }
  }
  &--img {
    height: 430px;
  }
}
