.insurance {
  position: relative;
  background: url("../img/фон_полис.jpg");
  background-size: cover;
  padding: 120px 0 80px 0;
  &-wrapp {
    display: flex;
  }
  &__titlt {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 30px;
    padding-bottom: 40px;
  }
  &-header {
    padding-bottom: 95px;
    &__title {
      padding-bottom: 20px;
    }
    &__subtitle {
      font-size: 22px;
      line-height: 30px;
      letter-spacing: 0.04em;
    }
    &__wrapp {
      position: relative;
      padding-left: 5%;

      &::after {
        content: "";
        position: absolute;
        left: 0%;
        top: 0;
        bottom: 0;
        width: 2px;
        height: 100%;
        background: linear-gradient(90.47deg, #0545c1 5.05%, #b9d1ff 120.19%);
        box-shadow: 0px 0px 16px #0f26f5;
      }
    }
  }
  &-text {
    flex-basis: 50%;
    &__border {
      background: url("../img/border-hight.svg");
      background-position: center;
      background-size: cover;
      width: 65%;
      padding: 65px 60px;
      text-align: left;
      font-size: 18px;
      line-height: 28px;
      text-transform: uppercase;
    }
  }
  &-img {
    flex-basis: 50%;
    position: relative;
    &::before {
      position: absolute;
      content: "";
      right: 0;
      top: 10%;
      bottom: 0;
      opacity: 1;
      width: 52%;
      max-height: 80%;
      background: url("../img/стр\ полис1.png");
      background-repeat: no-repeat;
      background-position: bottom, right;
      background-size: cover;
    }
    &__inner {
      position: relative;
      padding-right: 30%;
    }
  }
}
