.page__content {
  position: relative;
  z-index: 0;
}

.page__content-wrapp {
  position: relative;
  height: 100vh;
  background: url("../img/С-ФОНОМ.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;

  z-index: -1;

  & .video {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: autos;
    width: 100%;
  }
  // &::before {
  //   position: absolute;
  //   content: "";
  //   right: 0;
  //   left: 0;
  //   top: 0;
  //   bottom: 0;
  //   opacity: 0.6;
  //   z-index: -1;
  //   background-repeat: no-repeat;
  //   background-position: bottom, center;
  // }
}
.intro {
  position: relative;
  display: flex;
  justify-content: center;

  &__inner {
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 30vh;
    padding-top: 5vh;
  }
  &__title {
    font-weight: bold;
    font-size: 20px;
    line-height: 42px;

    text-align: center;
    letter-spacing: 0.06em;

    text-transform: uppercase;
    color: $intro_titl_col;
    padding-bottom: 20px;
    & span {
      width: 100%;
    }
  }
  &__subtitle {
    font-size: 16px;
    line-height: 34px;
    text-align: center;
    color: $intro_titl_col;
    text-transform: uppercase;
    padding-bottom: 40px;
    letter-spacing: 0.02em;
  }
}

.btn-intro {
  width: 269px;
  height: 50px;
  border-radius: 100px;
}
.btn--red {
  height: 60px;
  border-radius: 100px;
  border: 5px solid rgba(147, 76, 72, 0.401);
  background: linear-gradient(90deg, #fe5a35 0%, #f33439 100%);

  & .btn__body {
    position: relative;
    display: flex;
    border-radius: 100px;

    & .btn__text {
      width: 85%;
      font-weight: 800;
      font-size: 14px;
      line-height: 24px;
      padding: 12px 0;
      color: $bloc1_titl_col;
    }
    & .btn__icon {
      display: block;

      width: 50px;
      height: 50px;
      border-radius: 50%;
      background: linear-gradient(90deg, #fe5a35 0%, #f33439 100%);

      &-arrovs {
        position: absolute;
        height: 12px;
        width: 12px;
        top: 35%;
        right: 30%;
        fill: #fff;
      }
    }
  }
}
@media (min-width: 480px) {
}
@media (min-width: 768px) {
}
@media (min-width: 992px) {
  // .intro__inner {
  //   padding-bottom: 300px;
  // }
}
@media (min-width: 1200px) {
}
@media (min-width: 1686px) {
  .intro {
    &__title {
      max-width: 80%;
      margin: 0 auto;
    }
    &__subtitle {
      max-width: 80%;
      margin: 0 auto;
    }
  }
}

@media (max-width: 1199px) {
}
@media (max-width: 991px) {
}
@media (max-width: 767px) {
}
@media (max-width: 479px) {
}
@media (min-height: 479px) and (max-height: 679px) {
  .intro__inner {
    padding-top: 3vh;
  }
}
